@page "/List-with-component-callback"
@using BlazorTraining.Model

@foreach (var student in students)
{
    <StudentDetails_EventCallback Student=student OnActiveStatusChanged=ChangeCounter></StudentDetails_EventCallback>
}

<div>
    Ilość aktywnych kont: @ActiveAccountsCounter
</div>

@code {
    private int ActiveAccountsCounter { get; set; }
    List<Student> students = null;

    protected override void OnInitialized()
    {
        students = new List<Student>
        {
            new Student(1, "Jan", "Kowalski", 23, true),
            new Student(2, "Anna", "Nowak", 22, false)
        };

        ActiveAccountsCounter = students.Count(x => x.IsActive);
    }

    private void ChangeCounter(bool activeStatusChanged)
    {
        if (activeStatusChanged)
            ActiveAccountsCounter++;
        else
            ActiveAccountsCounter--;
    }
}
